# Python
.env
venv_hrm/
__pycache__/
*.py[cod]
*.sqlite3

# Media / Uploads
media/
attendance_images/
# React Frontend
react-frontend/node_modules/
react-frontend/dist/
react-frontend/dist-ssr/

# Root-level node modules (if exists)
node_modules/
