{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Basd Human Resourse Management Systems</title>
    <link rel="stylesheet" href="{% static 'css/HomeStyle.css' %}">
</head>
<body>
    <div class="container">
        <h1>
            Revolutionizing Workforce Management with AI: Smarter HR, Happier Employees
        </h1>
        <button>
            <a href="{% url 'admin:index' %}">Admin Login</a>
        </button>
    </div>
</body>
</html>